 <%- include('../header') %> 
 <style>
  body{
     font-size: medium;
  }
  h2{
    font-size: xx-large;
    color: blue;
    margin-left: 400px;
    margin-bottom: 30px;
     
  }
  input{
     text-decoration: dotted;
  }
 
</style>
 <main id="main" class="main">
    
    <h2><b>Change Password</b></h2>

    <!-- Change Password Form -->
    <% if (typeof message !== 'undefined' && message) { %>
      <h6 class="alert alert-danger mt-5"><%= message %></h6>
    <% } %>
    <form method="post">
        <div class="row mb-3">
          <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
          <div class="col-md-8 col-lg-9">
            <input name="password" type="password" class="form-control" id="currentPassword">
          </div>
        </div>

        <div class="row mb-3">
          <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
          <div class="col-md-8 col-lg-9">
            <input name="newPassword" type="password" class="form-control form-control-lg"  id="newPassword">
          </div>
        </div>

        <div class="row mb-3">
          <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
          <div class="col-md-8 col-lg-9">
            <input name="newConfirmPassword" type="password" class="form-control form-control-lg" id="renewPassword">
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
        </div>
    </form><!-- End Change Password Form -->
</main>
<%- include('../fooder') %> 